@import "~bootstrap/scss/bootstrap.scss";
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Comfortaa", cursive;
}

:root {
  --green-light: #16ffbd;
  --green-mid: #12ca98;
  --green-dark: #439f76;
  --pink-light: #f070a1;
  --pink-dark: #c44272;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--green-light);
  background-image: url("back.svg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);

  h1 {
    position: absolute;
    top: 10rem;
    left: 10rem;
    // color: var(--green-light);
    text-shadow: 0.2rem 0.2rem 0rem var(--pink-dark);
    font-weight: bold;
    color: white;
  }
}

.App-link {
  color: var(--pink-light);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Modal {
  position: absolute;
  // top: 10em;
  // left: 10em;
  right: 10em;
  bottom: 10em;
  background-color: var(--pink-light);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 1em 1em 0rem var(--green-dark);
  border: 0.2rem solid var(--green-light);

  p {
    // color: var(--green-light);
    color: white;
  }

  h1 {
    // color: var(--green-light);
    color: white;
    padding: 2rem 0rem;
    font-weight: 900;
  }

  a {
    color: var(--green-mid);
    text-shadow: 0rem 0rem 0.2rem var(--pink-dark);
    font-weight: bold;

    &:hover {
      color: var(--pink-dark);
      text-shadow: 0rem 0rem 0.2rem var(--green-light);
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #439f767e;
  // background-color: var(--pink-dark);
}
